@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


        body
        {
            /*background-color: #000000;*/
            font-family: 'Segoe UI';
            color: #dddddd;
            background-color: #000000;
        }

        .site-logo
        {
            font-weight: 700;
            font-size: 16px;
            padding-top: 18px;
            padding-left: 16px;
            letter-spacing: 5px;
            position: absolute;
            color: #666666;

            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;

            animation: both 600ms logoIn cubic-bezier(0, 0.98, 0.68, 0.99);
            animation-delay: 200ms;

            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .ex
        {
            font-size: 12px;
            font-weight: 500px;
            color: #aaaaaa;
            transform: translateY(3px);
            margin-right: 5px;
        }
        .logo
        {
            width: 40px;
            height: 40px;
            transform: translateY(-9px);
            visibility: visible;

            transition: all 200ms ease-out;
        }
        .logo:hover
        {
            transform: scale(0.9);
            margin-top: -8px;
            opacity: 0.5;
            margin-right: -5px;

            transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        .site-header
        {
            background-color: #0f0f0f;
            transform: translateX(-8px) translateY(-9px);
            width: calc(100% + 16px);
            height: 60px;
            position: fixed;
            -moz-box-align: center;
            box-shadow: 0px 2px 30px 30px #000000b7;
            border-bottom: 1px inset #242424;

            -moz-user-select: none;
            user-select: none;

            z-index: 999;
        }


        /*Links*/

        .site-links
        {
            display: flex;
            flex-direction: row;
            gap: 20px;

            transform: translateX(calc(100% - 290px));
            margin-top: 21px;

            color: #777777;
        }
        #link1
        {
            animation: backwards 200ms fadeIn cubic-bezier(0.69, 0.65, 0.4, 0.92);
            animation-delay: 800ms;
        }
        #link2
        {
            animation: backwards 200ms fadeIn cubic-bezier(0.69, 0.65, 0.4, 0.92);
            animation-delay: 700ms;
        }
        #link3
        {
            animation: backwards 200ms fadeIn cubic-bezier(0.69, 0.65, 0.4, 0.92);
            animation-delay: 600ms;
        }
        #link4
        {
            animation: backwards 200ms fadeIn cubic-bezier(0.69, 0.65, 0.4, 0.92);
            animation-delay: 500ms;
        }

        .article
        {
            padding-top: 100px;
            margin-left: auto;
            margin-right: auto;
            
            width: 600px;
            /*background-color: #666666;*/

            animation: both 600ms slideInFromBottom cubic-bezier(0, 0.88, 0.55, 1);
            transition: all 200ms cubic-bezier(0.19, 0.36, 0.12, 0.99);
            animation-delay: 1000ms;

            display: flex;
            flex-direction: column;
        }
        .article-heading
        {
            font-family: "Space Grotesk", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;

            color: #dddddd;
            padding-bottom: 5px;

            transition: all 300ms cubic-bezier(0.01, 0.5830, 0.355, 1.2);
        }
        .article-heading:hover
        {
            font-size: 64px;
            transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
            margin-bottom: 70px;
            width: auto;
            height: max-content;
            text-overflow: clip;
        }
        .article-subtitle
        {
            color: #aaaaaa;

            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: 16px;
            letter-spacing: 2px;
        }
        .read-stats
        {
            display: flex;
            flex-direction: row;

            color: #777777;

            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: 14px;
            padding-top: 10px;

            -moz-user-select: none;
            user-select: none;
        }
        .read-time
        {
            text-align: left;
            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: 14px;
        }
        .article-author
        {
            text-align: right;
            margin-left: auto;

            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            font-size: 14px;
        }

        .main-article
        {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 18px;
            font-weight: 500;
            line-height: 29px;

            color: #bbbbbb;

            margin-bottom: 80%;

        }
        #code-block
        {
            font-family: monospace;
            font-size: 14px;
            background-color: #262626;
            padding: 10px;
            border: 1px solid #ffffff0a;
            color: #999999;
            transition: all 300ms ease-out;
        }
        #code-block:hover
        {
            color: #dddddd;
            background-color: #282828;
            transition: all 200ms cubic-bezier(0, 0.82, 0.12, 0.99);
        }
        /*
        .firefox-warning
        {
            display: flex;
            flex-direction: row;
            gap: 10px;
            filter: brightness(0.5);

            -moz-user-select: ;
        }
        .warning-triangle
        {
            height: 20px;
            width: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }
        */

        @keyframes logoIn
        {
            from
            {
                opacity: 0;
                letter-spacing: 40px;
                padding-left: 70px;
            }
            to
            {
                opacity: 1;
            }
        }
        @keyframes fadeIn
        {
            from
            {
                opacity: 0;
            }
            to
            {
                opacity: 1;
            }
        }
        @keyframes slideInFromBottom
        {
            from
            {
                padding-top: 300px;
                gap: 100px;
                opacity: 0;
            }
            30%
            {
                opacity: 0.2;
            }
            40%
            {
                opacity: 0.35;
            }
            55%
            {
                padding-top: 98px;
                opacity: 0.5;
            }
            70%
            {
                opacity: 0.8;
            }
            80%
            {
                opacity: 0.9;
            }
            to
            {
                gap: 0px;
                opacity: 1;
            }
        }
        @keyframes fadeOutWithVis
        {
            0%
            {
                opacity: 1;
            }
            99%
            {
                opacity: 0.01;
                visibility: visible;
                gap: 0px;
                transform: translateX(calc(100vw - 220px));
            }
            100%
            {
                opacity: 0;
                visibility: hidden;
            }
        }

        @media only screen and (max-width: 615px)
        {
            .article
            {
                width: calc(100vw - 40px);
                margin: 0;
                transform: translateX(-8px);
                padding-left: 20px;
                padding-right: 20px;

                /*transition: all 200ms cubic-bezier(0.19, 0.36, 0.12, 0.99);*/
            }
            .article-heading:hover
            {
                transition: none;
                font-size: 35px;
                margin-bottom: 0px;
            }
        }
        @media only screen and (max-width: 495px)
        {
            .site-links
            {
                animation: both 200ms fadeOutWithVis cubic-bezier(0.56, 0.7, 0.28, 0.97);
            }
        }
        @media only screen and (min-width: 1000px)
        {
            .article
            {
                width: 800px;
                transition: all 200ms cubic-bezier( 0.19, 0.94, 0.79, 1.2);
            }
        }
        @media only screen and (prefers-reduced-motion: reduced)
        {
            *
            {
                animation: none;
            }
        }